name: Build ROM for Pipa
on:
  workflow_dispatch:
    inputs:
      URL:
        description: "Port package download URL"
        required: true
        default: 'https://bn.d.miui.com/OS2.0.211.0.VNXCNXM/sheng-ota_full-OS2.0.211.0.VNXCNXM-user-15.0-b89bcc4fbf.zip'
      VENDOR_URL:
        description: "Base package download URL"
        required: true
        default: 'https://bn.d.miui.com/OS2.0.13.0.UMZCNXM/pipa-ota_full-OS2.0.13.0.UMZCNXM-user-14.0-a905ad5ecc.zip'
      INCLUDE_OFOX:
        description: "Patch Boot with OrangeFox?"
        required: true
        default: 'true'
        type: boolean

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          swap-size-mb: 8192
          root-reserve-mb: 4096
          temp-reserve-mb: 4096
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build ROM
        env:
          INCLUDE_OFOX: ${{ inputs.INCLUDE_OFOX }}
        run: |
          sudo -E bash "$GITHUB_WORKSPACE"/make.sh ${{ inputs.URL }} ${{ inputs.VENDOR_URL }} $GITHUB_ENV $GITHUB_WORKSPACE
      - name: Process ROM
        run: |
          mkdir -p "$GITHUB_WORKSPACE"/GithubRelease
          cp "$GITHUB_WORKSPACE"/zip/${{ env.rom_name }} "$GITHUB_WORKSPACE"/GithubRelease/
          touch file.log
          echo -e "Base version: ${{ env.vendor_os_version }}\nBase security patch: ${{ env.vendor_security_patch }}\nBase baseline: ${{ env.vendor_base_line}}\n\nPort version: ${{ env.port_os_version }}\nPort security patch: ${{ env.port_security_patch }}\nPort baseline: ${{ env.port_base_line }}" > file.log

      - name: Upload ROM artifact
        uses: actions/upload-artifact@v5
        with:
          name: hyperos2.2_PIPA_ROM
          path: GithubRelease/${{ env.rom_name }}
          retention-days: 7
      - name: Upload to Oracle S3
        if: github.repository == 'PipaDB/Build_pipa_port_rom'
        run: |
          sudo -v ; curl https://rclone.org/install.sh | sudo bash
          mkdir -p ~/.config/rclone/
          echo ${{ secrets.confbase64 }} > base64.txt
          base64 --decode base64.txt > ~/.config/rclone/rclone.conf
          rclone delete kr:/public-bucket/pipa
          rclone mkdir kr:/public-bucket/pipa
          rclone copy -P "$GITHUB_WORKSPACE"/zip/${{ env.rom_name }} kr:/public-bucket/pipa
